<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>BookStore</title>
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <div class="book" th:each="book : ${books}">
        <p th:text="${book.title}" class="title"></p>
        <p th:text="${book.author}" class="author"></p>
        <p th:text="'Cena: ' + ${book.price}" class="price"></p>
        <p th:text="'ISBN: ' + ${book.isbn}" class="isbn"></p>
        <p th:text="'Ilość: ' + ${book.quantity}" class="quantity"></p>
        <a th:if="${logged == true}" th:href="@{/cart/add/{id}(id=${book.id})}" class="add-button">Dodaj do koszyka</a>
    </div>
</div>
</body>
</html>